        #div1{
	       border-style: dotted;
	       border-color: #283429;
	       margin: 15%;
	       padding: 12px;
       }
       #label{
       	   font-family: 'Bayon', sans-serif;
       	   font-size: 55pt;
       	   text-align: center;
       	   color: #FFC15B;
       }
       #product{
       	   font-family: 'Dosis', sans-serif;
       	   font-size: 20pt;
       	   text-align: center;
       	   margin-left: 20px;
       	   margin-right: 20px;
       	   color: white;
       }
       #price{
       	   margin-top: 25px;
       	   margin-bottom: 25px;
       	   font-family: 'Bayon', sans-serif;
       	   font-size: 100pt;
       	   text-align: center;
       	   color: lightgreen;
       }
       body{
       	   background-color: #3558F6;
       }
       img{
       	   height: 50%;
       	   width: 50%;
       	   margin-left: 200px;
       	   margin-right: 100px;
       	   border: 1px solid #ddd;
       	   border-radius: 4px;
       	   padding: 5px;
       }
       h4{
       	   font-family: 'Bayon', sans-serif;
       	   font-size: 54pt;
       	   text-align: center;
       	   margin-top: 25px;
       	   margin-bottom: 25px;
       }
       button {
       	   border: none;
       	   border-radius: 6px;
       	   outline: 0;
       	   display: inline-block;
       	   padding: 12px;
       	   color: black;
       	   background-color: #F8FF5C;
       	   text-align: center;
       }